<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<div class="container">
  <form class="well form-horizontal" action="/customers/create-customer" method="post">
    <a href="/customers">
      <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-chevron-left"></span> Back to list
      </button>
    </a>

    <fieldset >
      <!-- Form Name -->
      <legend >
     <h2><b>Create Form <br></b></h2>
      </legend>
      <br>

      <div class="form-group">
        <label class="col-md-4 control-label">Customer Type</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
            <select class="form-control selectpicker">
              <option>
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label ">Code</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input placeholder="Code" class="form-control" type="text">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label ">Name</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input placeholder="Name" class="form-control" type="text">
          </div>
        </div>
      </div>


      <div class="form-group">
        <label class="col-md-4 control-label">Birthday</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input placeholder="Birthday" class="form-control" type="date">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Id Card</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input class="form-control" type="number">
          </div>
        </div>
      </div>


      <div class="form-group">
        <label class="col-md-4 control-label">Gender</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-heart"></i></span>
            <select class="form-control selectpicker">
              <option value="1">Male</option>
              <option value="0">FeMale</option>
              <option value="2">Other</option>
            </select>
          </div>
        </div>
      </div>


      <div class="form-group">
        <label class="col-md-4 control-label">Phone Number</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
            <input placeholder="(84)" class="form-control" type="number">
          </div>
        </div>
      </div>


      <div class="form-group">
        <label class="col-md-4 control-label">E-Mail</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input placeholder="E-Mail Address" class="form-control" type="email">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label ">Address</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
            <input placeholder="Address" class="form-control" type="text">
          </div>
        </div>
      </div>
      &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
      &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
      <button type="submit" class="btn btn-warning"><span class="glyphicon glyphicon-send"></span> Submit</button>
    </fieldset>
  </form>
</div>

