<div>Id :</div>
<div class="alert alert-dark" role="alert">
  {{data.id}}
</div>

<div>Code :</div>
<div class="alert alert-dark" role="alert">
  {{data.code}}
</div>

<div>Name :</div>
<div class="alert alert-dark" role="alert">
  {{data.name}}
</div>


<div>Birthday :</div>
<div class="alert alert-dark" role="alert">
  {{data.birthday}}
</div>


<div>IdCard :</div>
<div class="alert alert-dark" role="alert">
  {{data.idCard}}
</div>

<div>Salary :</div>
<div class="alert alert-dark" role="alert">
  {{data.salary}}
</div>

<div>Phone :</div>
<div class="alert alert-dark" role="alert">
  {{data.phone}}
</div>

<div>Email :</div>
<div class="alert alert-dark" role="alert">
  {{data.email}}
</div>

<div>Address :</div>
<div class="alert alert-dark" role="alert">
  {{data.address}}
</div>

<div>Position :</div>
<div class="alert alert-dark" role="alert">
  {{data.position.name}}
</div>

<div>Division :</div>
<div class="alert alert-dark" role="alert">
  {{data.division.name}}
</div>

<div>EducationDegree :</div>
<div class="alert alert-dark" role="alert">
  {{data.educationDegree.name}}
</div>

<!--id: number;-->
<!--code: string;-->
<!--name: string;-->
<!--birthday: string;-->
<!--idCard: string;-->
<!--salary: string;-->
<!--phone: string;-->
<!--email: string;-->
<!--address: string;-->
<!--position: Positions;-->
<!--division: Division;-->
<!--educationDegree: EducationDegree;-->
