
<div style="background: azure ; margin-bottom: 50px">
  <div style=" display:inline-block;width: 60%; float: left ; margin: 15px 5%">
    <a [routerLink]="'/customer-create'" >
      <button type="button" class="btn btn-primary"> Create customer</button>
    </a>
  </div>
  <div style=" text-align: right; display: inline-block; width: 20% ; margin:15px 5%">
    <a [routerLink]="''">
      <button type="button" class="btn btn-warning">Back to home</button>
    </a>
  </div>
  <!--    <h1 style="color: blue; text-align: center">Customer</h1>-->

</div>


<div style="margin: 15px 5% 40px 5%">


  <div class="d-flex justify-content-end mb-4">
    <select [(ngModel)]="searchCustomerTypeName" style="width: 170px ; " class="form-control d-inline-block mr-3">
      <option value="" selected>--Choose</option>
      <option *ngFor="let ct of customerTypes" [ngValue]="ct.name">{{ct.name}}</option>
    </select>
    <input type="text"  placeholder="name search" [(ngModel)]="searchCustomerName" class="form-control w-25 d-inline-block justify-content-end mr-3 ">
    <button class="btn btn-primary d-inline-block " (click)="search()" [disabled]="!(searchCustomerName != '' || searchCustomerTypeName != '')"> Search</button>
  </div>




  <table class="table table-bordered  table-hover ">
    <thead class="table-secondary">
    <tr>
      <td>#</td>
      <td (click)="sortCode()" style="color: blue;">Customer code</td>
      <td>Customer Type</td>
      <td (click)="sortName()" style="color: blue;">Customer Name</td>
      <td>Birthday</td>
      <td (click)="sortIdCard()" style="color: blue;">ID Card</td>
      <td>Number Phone</td>
      <td>Email</td>
      <td>Address</td>
      <td colspan="2" class="text-center">Action</td>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let customer of customers | paginate: {itemsPerPage: 3 , currentPage : p} ; let i = index">
      <td>{{p*2+i-1}}</td>
      <td>{{customer.code}}</td>
      <td style="color: blue">{{customer?.customerType?.name}}</td>
      <td><a (click)="onDetailHandler(customer)">{{customer.name}}</a></td>
      <td>{{customer.birthday}}</td>
      <td>{{customer.idCard}}</td>
      <td>{{customer.phone}}</td>
      <td>{{customer.email}}</td>
      <td>{{customer.address}}</td>
      <td><button type="submit" ><a [routerLink]="['/customer-edit', customer.id]"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
      </svg></a></button></td>
      <td><button type="submit"  class="btn btn-danger" (click)="onDeleteHandler(customer.id, customer.name)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
      </svg></button></td>

    </tr>
    </tbody>
  </table>

  <pagination-controls (pageChange)="p = $event" class="text-center"></pagination-controls>
</div>
