
<div style="background: azure ; margin-bottom: 50px">
  <div style=" display:inline-block;width: 60%; float: left ; margin: 15px 5%">
    <a href="/customers/create-customer">
      <button type="button" class="btn btn-primary"> ++Create customer</button>
    </a>
  </div>
  <div style=" text-align: right; display: inline-block; width: 20% ; margin:15px 5%">
    <a href="/home">
      <button type="button" class="btn btn-warning">Back to home</button>
    </a>
  </div>
  <!--    <h1 style="color: blue; text-align: center">Customer</h1>-->

</div>


<div style="margin: 15px 5% 100px 5%">

  <div style="margin: 10px">
    <form class="d-flex justify-content-end" action="/customers" method="get" >
      <input class="form-control" name="search" type="search" placeholder="Name or BirthDay or IdCard">
      <input class="btn btn-primary" type="submit" value="Search">
    </form>
  </div>
  <table class="table table-bordered  table-hover ">
    <thead class="table-secondary">
    <tr>
      <td>#</td>
      <td>Customer code</td>
      <td>Customer Type</td>
      <td>Customer Name</td>
      <td>Birthday</td>
      <td>ID Card</td>
      <td>Number Phone</td>
      <td>Email</td>
      <td>Address</td>
      <td colspan="2">Action</td>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let customer of customers ; let i = index">
      <td>{{i + 1}}</td>
      <td>{{customer.code}}</td>
      <td>{{customer.customerType.name}}</td>
      <td>{{customer.name}}</td>
      <td>{{customer.birthday}}</td>
      <td>{{customer.idCard}}</td>
      <td>{{customer.phone}}</td>
      <td>{{customer.email}}</td>
      <td>{{customer.address}}</td>
      <td class="text-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
      </svg></td>
      <td class="text-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
          <path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"/>
        </svg>
      </td>
    </tr>
    </tbody>
  </table>
</div>
