<div style="overflow: auto ; position: relative">
  <div>Id :</div>
  <div class="alert alert-dark" role="alert">
    {{data.id}}
  </div>
  <div>Code :</div>
  <div class="alert alert-dark" role="alert">
    {{data.code}}
  </div><div>Customer Type :</div>
  <div class="alert alert-dark" role="alert">
    {{data.customerType.name}}
  </div>
  <div>Name :</div>
  <div class="alert alert-dark" role="alert">
    {{data.name}}
  </div>
  <div>Birth Day :</div>
  <div class="alert alert-dark" role="alert">
    {{data.birthday}}
  </div>
  <div>IdCard :</div>
  <div class="alert alert-dark" role="alert">
    {{data.idCard}}
  </div>
  <div>Phone :</div>
  <div class="alert alert-dark" role="alert">
    {{data.phone}}
  </div>
  <div>Email :</div>
  <div class="alert alert-dark" role="alert">
    {{data.email}}
  </div>
  <div>Address :</div>
  <div class="alert alert-dark" role="alert">
    {{data.address}}
  </div>
</div>





