<h1 class="text-center" style="color:crimson">Service List</h1>

<a class="btn btn-primary mb-2 ml-4" [routerLink]="'/service-create'" role="button">Create new service</a>

<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>#</th>
    <th>Service Code</th>
    <th>Service Name</th>
    <th>Service Area</th>
    <th>Service Cost</th>
    <th>Service Max People</th>
    <th>Standard Room</th>
    <th>Description Other Convenience</th>
    <th>Number Of Floors</th>
    <th>Service Type</th>
    <th>Rent Type</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let s of services; index as i">
    <td>{{i + 1}}</td>
    <td>{{s.code}}</td>
    <td>{{s.name}}</td>
    <td>{{s.area}}</td>
    <td>{{s.cost}}</td>
    <td>{{s.maxPeople}}</td>
    <td>{{s.standardRoom}}</td>
    <td>{{s.description}}</td>
    <td>{{s.numberOfFloors}}</td>
    <td>{{s.serviceType.name}}</td>
    <td>{{s.rentType.name}}</td>
  </tr>
  </tbody>
</table>
