<div>
  <div class="container-fluid d-flex position-relative border-0 row   ">
    <div class="col-4 ">
      <a href="" class="img-fluid"><img src="../assets/img/logo_furama/logo_furama.png" height="117" width="87"/></a>
    </div>
    <div class="col-4">
      <a class=" img-fluid mx-5 px-5 align-items-center img-fluid"
         href="https://www.tripadvisor.com/Hotel_Review-g298085-d302750-Reviews-Furama_Resort_Danang-Da_Nang.html">
        <img
          class="img-fluid  " src="../assets/img/logo_tripadvisor/logo_tripadvisor.png"
        /></a>
    </div>
    <div class="col-4 text-center mt-5" style="text-align: right ; font-family: 'Anderson Four Feather Falls'; font-size: 20px">
      Phi Khanh
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark  container-fluid font-weight-bolder px-0 text-white" id="nav-bar-sticky"
       style=" height: 47px;background: #0F574B">

    <div class="collapse navbar-collapse  " id="navbarsExample07">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active px-5">
          <a class="text-white" href="">Home</a>
        </li>

        <li class="nav-item active px-5">
          <a class="text-white" href="">Customer</a>
        </li>

        <li class="nav-item active px-5">
          <a class="text-white" href="">Employee</a>
        </li>
      </ul>

    </div>
  </nav>
</div>
